<div class="row">
  <div class="col-md-12">
    <h1>{{product.name}}</h1>
    <p>[{{product.Category.name}}]</p>
  </div>
  <div class="col-md-4">
    <img class="img-responsive center-block" src="{{product.imageLink}}" style="width: 250px; margin-bottom: 25px; transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
    <br>
  </div>
  <div class="col-md-8">
    <div class="well">
      <ul class="list-unstyled">
        <li><strong>Size:</strong> {{product.size}}</li>
        <li><strong>Color:</strong> {{product.color}}</li>
        <li><strong>Price:</strong> {{product.price}}</li>
        <li><strong>Invetory:</strong> {{product.invetory}}</li>
      </ul>
    </div>
    <br>
    <p style="white-space: break-spaces;">{{product.description}}</p>
  </div>
  <hr>
</div>
<a class="btn btn-outline-secondary" href="javascript:history.back()">Back</a>